.cards {
  width: 920px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}