.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 0;
  /* выше установили ограничения для секции */
}
/* .header__link {
} */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  line-height:96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom:30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__main-illustration {
  position: absolute;
  bottom:0px;
  right: 0px;
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feynman{
  min-height: 890px;
  /* margin-top: 100px; */
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__img{
  position: absolute;
  z-index: -1;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  background-image: url(../images/feynman.png);
  background-size: cover;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  color: white;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 90px;
}

.kaufman__triangle {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

.footer {
  max-height: 756px;
  position: relative;
  align-items: center;
  background-color: #1f1f1f;
  z-index: 0;
  color: white;
  min-height: 350px;
}

.footer__columns {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 90%;
}

.footer__column_content_copyright {
  z-index: -2;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .footer__column_content_info {
} */

/* .footer__column_content_social {
} */
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}
/* .footer__column {
} */
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__column-link_type_icon{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content:left;
  align-items: center;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.two-columns{
  display: flex;
  flex-direction: row;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.two-columns__span-accent {
  /* margin-top: 30px;
  margin-bottom: 30px; */
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:not(:last-child) {
  /* margin-top: 0; */
  margin-bottom: 30px;
  /* line-height: 34px;
  font-size: 24px;
  font-weight: normal; */
}

/* и элемента с модификатором вида ключ-значение */
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 210px;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 0px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 210px;
}

.brief-title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.section-title {
  /* width: 60%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
}

.section-subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
  width: 60%;
  /* margin-top: 20px; */
  line-height: 34px;
  font-size: 24px;
}

/* .section-title_theme_light {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  margin-top: 100px;

} */

/* .section-subtitle_theme_light {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
} */

.section-title_theme_dark{
  width: 648px;
  /* line-height: 1.15;
  font-size: 60px; */
  padding-top: 90px;
  margin-top: 0;
  /* margin-bottom: 0; */
}

.section-subtitle_theme_dark{
  /* line-height: 34px; */
  /* font-size: 24px; */
  /* margin-top: 20px; */
  margin-bottom: 0;
}

.social-icon_name_facebook {
  background-image: url(../images/facebook_color_white.svg);  
}

.social-icon_name_vk {
  background-image: url(../images/vk_color_white.svg);
}

.social-icon_name_instagram {
  background-image: url(../images/instagram_color_white.svg);
}